<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Goals</h2>
                <hr class="light">As a short term goal, I aim to attain a prospective PH.D position in the field of brain's functionality analysis especially using deep neural networks. I hope to pursue my interest towards precious researches.</h1>
                <p class="text-faded">Checkout my backgrounds down here:</p>
                <a target='_blank' href="/Academic_BG/index.html" class="btn btn-default btn-xl">Educational</a>
                <a target='_blank' href="/Academic_BG/index.html" class="btn btn-default btn-xl">Expertises</a>
            </div>
        </div>
    </div>
</section>
