<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Academic Goals</h2>
                <hr class="light">Under Construction ...</h1>
                <p class="text-faded">I aim to attain a prospective PH.D position in the field of brain's functionality analysis especially using deep neural networks. I hope to pursue my interest towards precious researches.</p>
                <a href="#" class="btn btn-default btn-xl">Background</a>
            </div>
        </div>
    </div>
</section>
