<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Goals</h2>
                <hr class="light">As a short term goal, I aim to attain a prospective Ph.D. position in the brain's functionality analysis, especially using deep neural 
                    networks. I hope to pursue my interest in outstanding research projects.</h1>
                <p class="text-faded">Checkout my backgrounds down here:</p>
                <a target='_blank' href="/Academic_BG/index.html" class="btn btn-default btn-xl">Educational</a>
                <a target='_blank' href="/Expertise/dist/index.html" class="btn btn-default btn-xl">Experiences</a>
            </div>
        </div>
    </div>
</section>
