<!DOCTYPE html>
<html>
<head>
<style>

h1 {
  background: rgba(76, 175, 80, 0.3);
  color:  #020303;
}

p {
  background: rgba(76, 175, 80, 0.3);
  color:  #020303;
}
</style>
</head>
<body>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Mohammad Hossein <br>Niki Maleki</h1>
            <hr>
            <p>"TO BE THE BEST, YOU NEED TO ENDURE THE WORST."</p>
            <a href="https://drive.google.com/file/d/1Q_y3GIa0p_r2_LAgFXmXxFNvkOxKxAFr/view?usp=sharing" class="btn btn-primary btn-xl page-scroll">Directly Download CV</a>
        </div>
    </div>
</header>
