<!DOCTYPE html>
<html>
<head>
<style>

span3 {
    font-family: Perpetua;
    color:  #ffffff;
}

span2 {
  color:  #ffffff;
}

</style>
</head>
<body>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2><span3>Mohammad Hossein <br>Niki Maleki</span3></h2>
            <hr>
            <p><span2><i><b>TO BE THE BEST, <br>YOU NEED TO ENDURE THE WORSTs</span2></p>
            <a href="https://drive.google.com/uc?id=191f1DgJMQrOE6yFkd43A4JV4UBCSpFsT&export=download" class="btn btn-primary btn-xl page-scroll">Directly Download CV</a>
        </div>
    </div>
</header>