<!DOCTYPE html>
<html>
<head>
<style>
div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

span {
  background: rgba(76, 175, 80, 0.3);
  color:  #020303;
}

</style>
</head>
<body>

<header>
    <div>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><span><b>Mohammad Hossein <br>Niki Maleki</span></h1>
                <hr>
                <p><span><i><b>"TO BE THE BEST, YOU NEED TO ENDURE THE WORST."</span></p>
                <a href="https://drive.google.com/uc?id=17cWNFT2cFUWlbb87Sp5BFnUSc06RZaV5&export=download" class="btn btn-primary btn-xl page-scroll">Directly Download CV</a>
            </div>
        </div>
    </div>
</header>
